@{
    ViewData["Title"] = "Google 3D Pie Chart";
}

<div class="border-bottom mb-3">
    <h3>@ViewData["Title"]</h3>
</div>

<div id="myChart" style="width:100%; max-width:600px; height:500px;"></div>

@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(loadData);

        function loadData()
        {
            $.ajax({
                url: '/GoogleChart/GetWorldWineProduction',
                dataType: "json",
                type: "GET",
                success: function(data) {
                    drawChart(data);
                    return false;
                },
                error: function(xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    console.error(err.message);
                }
            });
        }

        function drawChart(data) {
            let chartData = [];

            // Header
            chartData.push(['Country', 'Mhl']);

            // Set data
            data.forEach(function(item) {
                chartData.push([item.country, item.productionInMhl]);
            });

            const dataTable = google.visualization.arrayToDataTable(chartData);

            // Set Options
            const options = {
                title: 'World Wide Wine Production',
                is3D: true
            };

            // Draw
            const chart = new google.visualization.PieChart(document.getElementById('myChart'));
            chart.draw(dataTable, options);
        }
    </script>
}